* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}



.header{
     font-family: 'Franklin Gothic Medium';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 2s;
}

.navbar a:hover
{
    color: deepskyblue;
}

.desc{
    height: 100vh;
    display: flex;
    background: url('daniel.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 80px 10% 0;
    box-sizing: border-box
}

.description{
    max-width: 500px;
}


.description p{
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    margin: 20px 0 40px;
    color: skyblue;
}

.hom{
    position: absolute;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;

}

.hom a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid deepskyblue;
    border-radius: 50%;
    font-size: 30px;
    color:deepskyblue;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.hom a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: white;  
    transition: .5s;
    z-index: -1;
}

.hom a:hover::before{
    width: 100%;
}
